.accordion {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  border:1px solid grey;

}

.accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  border: 1px solid grey;
  border-top: 0px;
}

.accordionContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.answer {
  font-size: 20px;
}